:root {
  --body-bg: linear-gradient(
    60deg,
    hsl(200, 9%, 10%) 0%,
    hsl(200, 9%, 10%) 15%,
    hsl(200, 9%, 8%) 16%,
    hsl(200, 9%, 10%) 16%,
    hsl(200, 9%, 10%) 16%,
    hsl(200, 9%, 10%) 40%,
    hsl(200, 9%, 8%) 42%,
    hsl(200, 9%, 10%) 42%,
    hsl(200, 9%, 10%) 42%,
    hsl(200, 9%, 10%) 86%,
    hsl(200, 9%, 10%) 86%,
    hsl(200, 9%, 8%) 86%,
    hsl(200, 9%, 10%) 87%,
    hsl(200, 9%, 10%) 100%
  );

  --primary: hsl(200, 10%, 10%);
  --primary-light: hsl(200, 5%, 15%);
  --primary-lighten: hsl(200, 5%, 20%);
  --primary-dark: hsl(200, 5%, 5%);
  --primary-darken: hsl(200, 5%, 0%);

  --primary-opcity-1: hsl(200, 5%, 15%, 80%);
  --primary-opcity-2: hsl(200, 5%, 5%, 90%);

  --primary-shadow-1: hsl(200, 15%, 10%);
  --primary-shadow-2: hsl(200, 15%, 5%);

  --gray-1: hsl(0, 0%, 100%);
  --gray-2: hsl(0, 0%, 75%);
}

body.invert {
  --body-bg: linear-gradient(
    60deg,
    hsl(200, 9%, 80%) 0%,
    hsl(200, 9%, 80%) 15%,
    hsl(200, 9%, 75%) 16%,
    hsl(200, 9%, 80%) 16%,
    hsl(200, 9%, 80%) 16%,
    hsl(200, 9%, 80%) 40%,
    hsl(200, 9%, 75%) 42%,
    hsl(200, 9%, 80%) 42%,
    hsl(200, 9%, 80%) 42%,
    hsl(200, 9%, 80%) 86%,
    hsl(200, 9%, 80%) 86%,
    hsl(200, 9%, 75%) 86%,
    hsl(200, 9%, 80%) 87%,
    hsl(200, 9%, 80%) 100%
  );

  --primary: hsl(200, 30%, 95%);
  --primary-light: hsl(200, 20%, 85%);
  --primary-lighten: hsl(200, 20%, 75%);
  --primary-dark: hsl(200, 20%, 90%);
  --primary-darken: hsl(200, 20%, 85%);

  --primary-opcity-1: hsl(200, 20%, 90%, 80%);
  --primary-opcity-2: hsl(200, 10%, 70%, 75%);

  --primary-shadow-1: hsl(200, 15%, 80%);
  --primary-shadow-2: hsl(200, 15%, 70%);

  --gray-1: hsl(200, 15%, 30%);
  --gray-2: hsl(200, 15%, 35%);
}

body.invert .filter {
  filter: brightness(1);
}

.filter {
  filter: brightness(100);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-bg: linear-gradient(
      60deg,
      hsl(200, 9%, 80%) 0%,
      hsl(200, 9%, 80%) 15%,
      hsl(200, 9%, 75%) 16%,
      hsl(200, 9%, 80%) 16%,
      hsl(200, 9%, 80%) 16%,
      hsl(200, 9%, 80%) 40%,
      hsl(200, 9%, 75%) 42%,
      hsl(200, 9%, 80%) 42%,
      hsl(200, 9%, 80%) 42%,
      hsl(200, 9%, 80%) 86%,
      hsl(200, 9%, 80%) 86%,
      hsl(200, 9%, 75%) 86%,
      hsl(200, 9%, 80%) 87%,
      hsl(200, 9%, 80%) 100%
    );

    --primary: hsl(200, 30%, 95%);
    --primary-light: hsl(200, 20%, 85%);
    --primary-lighten: hsl(200, 20%, 75%);
    --primary-dark: hsl(200, 20%, 90%);
    --primary-darken: hsl(200, 20%, 85%);

    --primary-opcity-1: hsl(200, 20%, 90%, 80%);
    --primary-opcity-2: hsl(200, 10%, 70%, 75%);

    --primary-shadow-1: hsl(200, 15%, 70%);
    --primary-shadow-2: hsl(200, 15%, 80%);

    --gray-1: hsl(200, 15%, 30%);
    --gray-2: hsl(200, 15%, 35%);
  }

  body.invert {
    --body-bg: linear-gradient(
      60deg,
      hsl(200, 9%, 10%) 0%,
      hsl(200, 9%, 10%) 15%,
      hsl(200, 9%, 8%) 16%,
      hsl(200, 9%, 10%) 16%,
      hsl(200, 9%, 10%) 16%,
      hsl(200, 9%, 10%) 40%,
      hsl(200, 9%, 8%) 42%,
      hsl(200, 9%, 10%) 42%,
      hsl(200, 9%, 10%) 42%,
      hsl(200, 9%, 10%) 86%,
      hsl(200, 9%, 10%) 86%,
      hsl(200, 9%, 8%) 86%,
      hsl(200, 9%, 10%) 87%,
      hsl(200, 9%, 10%) 100%
    );

    --primary: hsl(200, 10%, 10%);
    --primary-light: hsl(200, 5%, 15%);
    --primary-lighten: hsl(200, 5%, 20%);
    --primary-dark: hsl(200, 5%, 5%);
    --primary-darken: hsl(200, 5%, 0%);

    --primary-opcity-1: hsl(200, 5%, 15%, 80%);
    --primary-opcity-2: hsl(200, 5%, 5%, 90%);

    --primary-shadow-1: hsl(200, 15%, 10%);
    --primary-shadow-2: hsl(200, 15%, 5%);

    --gray-1: hsl(0, 0%, 100%);
    --gray-2: hsl(0, 0%, 75%);
  }

  .filter {
    filter: brightness(1);
  }

  body.invert .filter {
    filter: brightness(100);
  }
}

html,
body {
  height: 100%;
  width: 100%;
  background: var(--primary);
}
body {
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: var(--gray-1);
  font-family: Roboto, PingFang, Microsoft JhengHei, sans-serif;
  background-image: var(--body-bg);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--gray-1);
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  display: block;
  overflow: hidden;
  font-weight: 400;
  font-size: 16px;
  transition: 0.6s;
}
.logo__img {
  width: 20px;
  height: 20px;
  display: block;
  float: left;
  margin-right: 4px;
}

.logo__text {
  float: left;
}

.nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100;
  transition: 0.6s;
}

.nav__link {
  position: relative;
  color: var(--gray-2);
  display: block;
  float: left;
  margin-left: 24px;
  transition: 0.3s;
  cursor: pointer;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  transition: 0.3s;
  position: absolute;
  bottom: 1px;
}

.nav__link:hover {
  color: var(--gray-1);
}

.nav__link:hover:after {
  width: 100%;
  box-shadow: 0 0.5px 0 var(--gray-1);
}

.nav__link.active {
  color: var(--gray-1);
  font-weight: 400;
}

.nav__link.active:after {
  width: 100%;
  box-shadow: 0 0.5px 0 var(--gray-1);
}

.copyright {
  color: var(--gray-2);
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  transition: 0.6s;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding: 36px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.swiper-slide__link {
  display: block;
  position: relative;
  width: 82%;
  margin: 0 auto;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  background-color: var(--primary-opcity-1);
  box-shadow: 0 5px 10px var(--primary-shadow-1);
  opacity: 0;
}

.swiper-slide__link:hover {
  box-shadow: 0 5px 20px var(--primary-shadow-2);
  width: 84%;
}

.swiper-slide__img {
  width: 100%;
  display: block;
  margin: 0 auto;
  border-radius: 12px;
}

.swiper-slide__intro {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 16px;
  border-radius: 0 0 12px 12px;
  margin: auto;
  pointer-events: none;
  background-color: var(--primary-opcity-1);
  transition: 0.3s;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide__title {
  position: relative;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 400;
}

.swiper-slide__title::before {
  content: "";
  display: block;
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  width: 2px;
  height: 14px;
  background-color: var(--gray-1);
  border-radius: 100px;
}

.swiper-slide__tags {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.swiper-slide__tag {
  color: var(--gray-2);
  font-size: 12px;
  border-radius: 100px;
  flex: 0;
  padding: 0 8px;
  margin-right: 4px;
  box-shadow: 0 0 0 0.5px var(--gray-2) inset;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical
  > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  top: auto;
  bottom: 0;
  background: var(--primary-dark);
  height: 2px;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--gray-1);
  height: 2px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px;
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  color: var(--gray-1);
}

.mCSB_container {
  -webkit-overflow-scrolling: touch;
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger,
.mCS-rounded.mCSB_scrollTools .mCSB_dragger {
  height: 8px;
}

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded-dots.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-rounded.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 8px;
  margin: 0 auto;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: var(--gray-1);
}

.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
  background-color: var(--gray-1);
}

.mCS-rounded.mCSB_scrollTools .mCSB_draggerRail {
  background-color: var(--primary-light);
}

.page-transition {
  z-index: 1000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: skewX(30deg) scale(2.1);
  pointer-events: none;
}

.page-transition__1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-light);
  z-index: 200;
}

.page-transition__2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary);
  z-index: 200;
}

.page-transition__3 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--primary-dark);
  z-index: 200;
}

.page-transition__4 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: var(--gray-2);
  z-index: 200;
  pointer-events: none;
}

.transition__logo {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skewX(-30deg) scale(0.5);
  text-align: center;
  z-index: 200;
}

.transition__logo .logo__img {
  width: 40px;
  height: 40px;
  display: inline;
  margin-bottom: 8px;
  float: none;
}

.transition__logo .logo__text {
  float: none;
  font-size: 20px;
  letter-spacing: 1px;
}

.transition__logo .logo__slogan {
  font-weight: 200;
  font-size: 12px;
  margin-top: 4px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-opcity-2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.hide {
  display: none;
}

.modal__container {
  width: 300px;
  background-color: var(--primary);
  border-radius: 12px;
}

.modal__head {
  font-weight: 400;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.modal__head__title::before {
  content: "";
  display: block;
  float: left;
  font-size: 0;
  border-radius: 100px;
  margin-top: 3px;
  margin-right: 4px;
  width: 2px;
  height: 14px;
  background-color: var(--gray-1);
}

.modal__body {
  padding: 16px;
}

.modal__hide {
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 100px;
  cursor: pointer;
}

.contact__item {
  display: block;
  margin-bottom: 8px;
}
.contact__item:last-child {
  margin: 0;
}

.form__ipt {
  width: 100%;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--primary-dark);
  color: var(--gray-1);
  padding: 8px;
  display: block;
  margin-bottom: 8px;
  border-radius: 4px;
}

.form__btn {
  width: 100%;
  border: 0;
  font-size: 14px;
  line-height: 20px;
  background-color: var(--primary-light);
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  color: var(--gray-1);
  transition: 0.3s;
  font-weight: 300;
}

.form__btn:hover {
  background-color: var(--primary-lighten);
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 600;
  display: none;
  background-color: var(--primary-opcity-2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.loading__img {
  width: 40px;
  height: 40px;
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.grecaptcha-badge {
  display: none !important;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 60px auto;
  width: 100%;
  max-width: 996px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: 0.6s;
}

.section {
  padding-bottom: 16px;
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.section__title {
  font-size: 16px;
  font-weight: 400;
  margin: 16px;
  display: inline-flex;
  position: relative;
  overflow: hidden;
}

.section__link {
  width: 100%;
  display: block;
  margin: 0 16px 16px;
}

.section__title::before {
  content: "";
  display: block;
  float: left;
  margin-top: 3px;
  margin-right: 4px;
  border-radius: 100px;
  width: 2px;
  height: 14px;
  background-color: var(--gray-1);
}

.section__content {
  display: flex;
  flex-wrap: wrap;
}

.section__content.icons {
  font-size: 12px;
  line-height: 16px;
}

.card-show {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card-show:last-child {
  margin-bottom: 0;
}

.card-show__img {
  display: block;
  width: 100%;
  border-radius: 8px;
}

.card-show__iframe {
  width: 100%;
  height: 600px;
  border: 0;
  margin: 0 16px 32px;
  border-radius: 8px;
}

.card-show .col-1,
.card-show .col-2,
.card-show .col-3,
.card-show .col-4,
.card-show .col-6 {
  margin-bottom: 32px;
  padding: 0 16px;
}

.card {
  border-radius: 12px;
  background-color: var(--primary-opcity-1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  display: flex;
  padding: 20px;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.card__head {
  display: flex;
  padding-bottom: 32px;
  font-weight: 400;
}

.card__body {
  display: flex;
  flex-direction: column;
}

.card__foot {
  display: flex;
  padding: 16px 0;
}

.card__item {
  margin-bottom: 8px;
}

.card__item:last-child {
  margin-bottom: 0;
}

.card__item.center {
  text-align: center;
}

.design_cycle_a {
  width: 100%;
  max-width: 720px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.design_cycle_b {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  display: none;
}

.arrow {
  width: 12px;
  height: 20px;
  text-align: center;
}

.arrow::before {
  content: "next";
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  color: var(--gray-1);
  font-size: 12px;
}

.card__icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  display: block;
}

.totop {
  width: 32px;
  height: 32px;
  line-height: 32px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: var(--gray-1);
  color: var(--primary-darken);
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  transform: rotate(270deg);
  display: none;
}

.totop::before {
  content: "next";
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 4px;
}

.switch__ipt {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch__round {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-lighten);
  transition: 0.3s;
  border-radius: 100px;
}

.switch__round:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: var(--gray-1);
  transition: 0.3s;
  border-radius: 50%;
}

.switch__ipt:checked + .switch__round {
  background-color: var(--primary-lighten);
}

.switch__ipt:focus + .switch__round {
  box-shadow: 0 0 1px var(--primary);
}

.switch__ipt:checked + .switch__round:before {
  transform: translateX(20px);
}

.coming-soon {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 0 52px 52px -26px var(--primary-opcity-2) inset;
  text-align: center;
  padding-top: 16px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-6 {
  padding: 0 16px;
  transition: 0.6s;
  margin-bottom: 32px;
}

.col-1 {
  flex: 0 0 100%;
}

.col-2 {
  flex: 0 0 50%;
}

.col-3 {
  flex: 0 0 33.33%;
}

.col-4 {
  flex: 0 0 25%;
}

.col-6 {
  flex: 0 0 16.66%;
}
@media only screen and (max-width: 480px) {
  .logo {
    left: 13px;
    top: 13px;
  }

  .nav {
    top: 16px;
    right: 16px;
  }

  .nav_link {
    font-size: 12px;
  }

  .copyright {
    bottom: 16px;
    left: 16px;
    font-size: 12px;
  }

  .totop {
    bottom: 13px;
    right: 8px;
  }

  .container {
    margin: 56px auto;
  }

  .swiper-slide__link {
    display: block;
    position: relative;
    width: 92%;
  }

  .swiper-slide__link:hover {
    width: 86%;
  }

  .logo__img {
    width: 30px;
    height: 30px;
  }

  .logo .logo__text {
    display: none;
  }

  .card-show {
    padding: 0 8px;
  }

  .card-show__iframe {
    width: 100%;
    border: 0;
    margin: 0 4px 16px;
  }

  .card-show .col-1,
  .card-show .col-2,
  .card-show .col-3,
  .card-show .col-4,
  .card-show .col-6 {
    margin-bottom: 16px;
    padding: 0 8px;
  }

  .col-1,
  .col-2,
  .col-3 {
    flex: 0 0 100%;
  }

  .col-4 {
    flex: 0 0 50%;
  }

  .col-6 {
    flex: 0 0 50%;
    padding-left: 16px;
    padding-right: 8px;
  }

  .col-6:nth-child(2n) {
    padding-left: 8px;
    padding-right: 16px;
  }

  .section__content.icons .col-6 {
    margin-bottom: 16px;
  }

  .design_cycle_a {
    display: none;
  }
  .design_cycle_b {
    display: block;
  }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
  .logo,
  .copyright {
    left: 16px;
  }

  .nav {
    right: 16px;
  }

  .col-3 {
    flex: 0 0 50%;
  }

  .col-6 {
    flex: 0 0 25%;
    padding-left: 16px;
    padding-right: 4px;
  }
  .col-6:nth-child(4n + 1) {
    padding-left: 16px;
    padding-right: 4px;
  }

  .col-6:nth-child(4n + 2) {
    padding-left: 12px;
    padding-right: 8px;
  }

  .col-6:nth-child(4n - 1) {
    padding-left: 8px;
    padding-right: 12px;
  }

  .col-6:nth-child(4n) {
    padding-left: 4px;
    padding-right: 16px;
  }

  .section__content.icons .col-6 {
    margin-bottom: 16px;
  }

  .totop {
    right: 8px;
  }

  .card-show {
    padding: 0 8px;
  }

  .card-show__iframe {
    width: 100%;
    border: 0;
    margin: 0 4px 16px;
  }

  .card-show .col-1,
  .card-show .col-2,
  .card-show .col-3,
  .card-show .col-4,
  .card-show .col-6 {
    margin-bottom: 16px;
    padding: 0 8px;
  }
}

@media only screen and (min-width: 1440px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .logo {
    left: 28px;
    top: 28px;
    font-size: 20px;
  }

  .logo__img {
    width: 24px;
    height: 24px;
  }

  .nav {
    top: 28px;
    right: 28px;
  }

  .nav_link {
    margin-left: 24px;
  }

  .copyright {
    bottom: 28px;
    left: 28px;
  }

  .swiper-slide__intro {
    padding: 28px 20px;
  }

  .swiper-slide__title::before {
    height: 16px;
    margin-top: 4px;
  }

  .modal__head__title::before {
    margin-top: 5px;
  }

  .container {
    margin: 76px auto;
  }

  .section__title::before {
    height: 16px;
    margin-top: 4px;
  }

  .form__ipt,
  .form__btn {
    font-size: 16px;
    line-height: 24px;
  }

  .card__icon {
    width: 24px;
    height: 24px;
  }
}
